/* src/styles/Settings.css */
.settings {
    padding: 70px;
    max-width: 400px;
    margin-left: 320px;
    background-color: #ffffff;
    border-radius: 10px;
}

.settings h2 {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: -120px;
}

.settings-field {
    margin-bottom: 15px;
    position: relative; /* Make the container for positioning the icon */
}

.settings-field input {
    width: 100%;
    height: 40px;
    padding-left: 50px; /* Space for left icon */
    padding-right: 50px; /* Space for right icon */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-left: -120px;
}

.toggle-password-icon {
    width: 20px; /* Set a fixed width */
    height: 20px; /* Set a fixed height */
    position: absolute;
    top: 50%;
    right: 10px; /* Positioning from the right edge */
    transform: translateY(-50%); /* Center vertically */
    cursor: pointer;
    margin-right: 120px;
}

.settings-btn {
    width: 100%;
    height: 40px;
    background-color: #17A2B8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: -120px;
}

button:hover {
    background-color: #138496;
}
